/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  position: relative;
  min-height: 100%;
}
body {
  background-color: rgba(117, 17, 117, .05);
  margin-bottom: 20px;
  margin-top: 100px;
}

footer {
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* CUSTOM STYLES */
.container img.captcha {
  margin-bottom: 12px;
}

.form-group {
  text-align: center;
}

/* Название сайта */
.navbar .navbar-brand, .navbar .navbar-brand:focus {
  color: rgba(255, 100, 210, .4);
}
.navbar .navbar-brand {
  transition: color .5s;
}
.navbar .navbar-brand:hover {
  color: white;
}

/* Навигационная панель */
.navbar {
  background-color: rgba(117, 17, 117, .8);
  border: 0;
  padding: 0;
  height: 65px;
}

/* Пункты меню */
.navbar .navbar-nav .nav-item a {
  color: rgba(255, 190, 210, .6);
  transition: color .5s;
  font-size: 19px;
}

.navbar .navbar-nav .nav-item:hover a {
  color: rgba(255, 255, 255, .9);
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  transition: none;
  color: rgba(255, 255, 255, 1)
}

.empty-links-text h1 {
  color: #919f;
}

.empty-links-text h6 a {
  text-decoration: None;
  color: #a3af
}

.transition-item .transition-data {
  font-weight: bold;
  font-size: 1.2em;
}

.link-detail-card .link-title {
  color: #50a9
}

.link-detail-card .link-full-link {
  color: #52b9;
}

.link-detail-card .transition-text {
  font-size: 1.7em;
  color: #9199;
}
.link-detail-card .transition-item {
  border: 1px solid #a2a3 !important;
}

.transition-item .transition-title {
  font-size: 1.3em;
  font-weight: bold;
}

.transition-item .transition-dt {
  color: #907f;
}
.transition-item .transition-ip {
  color: #8069;
}

.transition-item .transition-data:nth-child(2n+1) {
  color: #829a;
}

.transition-item .transition-data:nth-child(2n) {
  color: #f28a;
}

.transition-item .transition-coord {
  font-size: .6em;
  color: #2226;
}