{% extends "base.html" %}
{% load static %}


{% block link %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
{% endblock %}
{% block content %}
  <div class="link-detail-card card">
    <div class="card-body">
      <h3 class="link-title card-title float-right" data-toggle="modal" data-target="#title-modal">{{ link.title }}</h3>
      <!-- Модальное окно для изменения заголовки -->
      <div class="modal fade" id="title-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Изменение заголовка</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text title-title-modal label-modal"><i class="fa fa-edit"></i></span>
                </div>
                  <input type="text" class="form-control" value="{{ link.title }}" aria-describedby="link-title-modal" id="title-value-modal">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn save-modal" id="title-save-modal">Сохранить изменения</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Конец модального окна -->
      <h4 class="link-full-link card-title" data-toggle="modal" data-target="#full-link-modal">{{ link.full_link }}</h4>
      <!-- Модальное окно для изменения полной ссылки -->
      <div class="modal fade" id="full-link-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Изменение полной ссылки</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text title-full-link-modal label-modal"><i class="fa fa-edit"></i></span>
                </div>
                  <input type="text" class="form-control" value="{{ link.full_link }}" id="full-link-value-modal">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn save-modal" id="full-link-save-modal">Сохранить изменения</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Конец модального окна -->
      <h6 class="link-short-link card-subtitle text-muted ml-2">{{ link.short_link_with_hostname }}</h6>
    </div>
    <div class="card-footer">
      <div class="transition-text text-center">Переходы</div>
      <ul class="list-group list-group-flush m-1">
        {% for transition in transitions %}
          <li class="list-group-item transition-item m-1 p-3">
            <div class="mb-3">
              <span class="transition-title transition-dt mr-4">{{ transition.transition_datetime }}</span>
              <span class="transition-title transition-ip">IP: {{ transition.ip }}</span>
            </div>
            <div class="row mb-1">
              <span class="col transition-data transition-country">{{ transition.country }}</span>
              <span class="col transition-data transition-region">{{ transition.region }}</span>
              <span class="col transition-data transition-city">{{ transition.city }}</span>
            </div>
            <div class="transition-coord">
              <span class="transition-title transition-lat mr-3">Широта: {{ transition.latitude|floatformat:"." }}&#0176;</span>
              <span class="transition-title transition-lon">Долгота: {{ transition.longitude|floatformat:"." }}&#0176;</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block body_script %}
  <script src="{% static 'js/link_detail.js' %}"></script>
{% endblock %}